@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.navbar-brand {
   font-weight: bold !important;
   font-family: "Grand Hotel", cursive;
   font-size: 1.7rem;
}

.navbar {
   background-color: #fff !important;
   border-bottom: 1px solid lightgray;
}

.nav__icon__btn {
   border: 0px;
   outline: none !important;
   color: black !important;
}
